body {
    background-image: url("../images/intersection/intersection.png");
    /* Background pattern from Subtle Patterns (https://www.toptal.com/designers/subtlepatterns/) */
}
nav {
    background-color: rgb(165, 165, 196);
}
a, a:hover {
    text-decoration: none;
}
a, p, h4, li, label, button, input, textarea, footer {
    font-family: 'Share Tech Mono', monospace;
}
input::placeholder, textarea::placeholder {
    font-family: 'Lancelot', cursive;
}
h1 {
    font-family: 'Offside', cursive;
}
h2, h3 {
    font-family: 'Sirin Stencil', cursive;
}
.card {
    margin-bottom: 20px;
}
.mystuff {
    position: relative;
    top: 85px;
}
.contactstuff {
    position: relative;
    top: 85px;
}
.portmystuff {
    position: relative;
    top: 85px;
    height: 1100px;
}
.portpic {
    height: 200px;
    width: 100%;
    margin-bottom: 20px;
}
.stay {
    height: 90px;
}
.soicon {
    width: 44.66px;
    height: 44.66px;
    border: .5px solid rgba(255,115,0, 0.5);
    margin-top: 2px;
}
.soicon:hover {
    width: 47.67px;
    height: 47.67px;
    border: .5px solid rgba(255,115,0, 0.5);
}
.icon:hover, .icon:hover {
    width: 53px;
    height: 53px;
}
.icon {
    width: 50px;
    height: 50px;
}
.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    clear: both;
    height: 70px;
    padding: 10px;
    color: white;
    font-size: 12px;
    background-color: rgb(165, 165, 196);
    text-align: center;
    line-height: 50px;
    z-index: 2;
}
@media screen and (max-width: 980px) {
    h4 {
        text-align: center;
    }
    .contactstuff {
        top: 120px;
        height: 810px;

    }
    .portmystuff {
        position: relative;
        top: 120px;
        height: 1171px;
    }
}
@media screen and (max-width: 768px) {
    .contactstuff {
        top: 170px;
    }
    .portmystuff {
        position: relative;
        top: 170px;
        height: 1870px;
    }
    .portpic {
        width: 70%;
        margin: 0 15%;
    }
}