body {
    background-image: url("../images/intersection/small_steps.png");
    /* Background pattern from Subtle Patterns (https://www.toptal.com/designers/subtlepatterns/) */
}
nav {
    background-color: rgb(165, 165, 196);
}
a, a:hover {
    text-decoration: none;
}
a, h1 {
    color: white;
}
a:hover, h1:hover {
    color: rgb(119, 119, 175);
}
h1 {
    font-family: 'Offside', cursive;
    color: white;
}
p, h4, li, label, button, input, textarea, footer {
    font-family: 'Share Tech Mono', monospace;
}
input::placeholder, textarea::placeholder {
    font-family: 'Lancelot', cursive;
}
h2, h3 {
    font-family: 'Sirin Stencil', cursive;
}
.card {
    margin-bottom: 20px;
}
.mystuff, .contactstuff, .portmystuff {
    position: relative;
    margin-top: 130px;
    margin-bottom: 20px;
}
.portpic {
    height: 200px;
    width: 100%;
    margin-bottom: 10px;
}
.propic {
    /* margin-top: 10vh; */
    -webkit-filter: brightness(120%) contrast(80%); 
    margin-bottom: 20px;
}
/* .stay I made to keep the bottom edge of the contact me card from changing size when the icons are in :hover mode, without affecting the other cards */
.stay {
    height: 90px;
}
.choral {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    position: relative;
}
.choral:hover {
    -webkit-animation-name: choral; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: 2; /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
    animation-name: choral;
    animation-duration: 5s;
    animation-iteration-count: 2;
    animation-direction: alternate; 
}
.soicon {
    width: 44.66px;
    height: 44.66px;
    border: .5px solid rgba(255,115,0, 0.5);
    margin-top: 2px;
}
.soicon:hover {
    width: 47.67px;
    height: 47.67px;
    border: .5px solid rgba(255,115,0, 0.5);
}
.icon:hover, .icon:hover {
    width: 53px;
    height: 53px;
}
.icon {
    width: 50px;
    height: 50px;
}
.myfooter, .contactfooter, .portfooter {
    position: absolute;
    width: 100%;
    clear: both;
    height: 70px;
    color: white;
    margin-top: 1%;
    font-size: 12px;
    background-color: rgb(165, 165, 196);
    text-align: center;
    line-height: 70px;
}
#contactSubmitButton {
    background-color: rgb(165, 165, 196);
    border: 1px solid #b5b5b5;
    float: right;
}
#contactSubmitButton:focus, #contactSubmitButton:active {
    outline: none !important;
    box-shadow: none !important;
}
#contactSubmitButton:hover {
    background-color: rgb(215, 215, 230);
}
#contactSubmitButton:active {
    background-color: rgb(80, 80, 173);
}
#inParagraph {
    color: grey;
}
#inParagraph:hover {
    color: purple;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes choral {
    0%   {background-color:transparent; left:0px; top:0px;}
    25%  {background-color:pink; left:0px; top:20px;}
    50%  {background-color:rebeccapurple; left:0px; top:0px;}
    75%  {background-color:pink; left:0px; top:20px;}
    100% {background-color:rebeccapurple; left:0px; top:0px;}
}
/* Standard syntax */
@keyframes choral {
    0%   {background-color:transparent; left:0px; top:0px;}
    25%  {background-color:pink; left:0px; top:20px;}
    50%  {background-color:rebeccapurple; left:0px; top:0px;}
    75%  {background-color:pink; left:0px; top:20px;}
    100% {background-color:rebeccapurple; left:0px; top:0px;}
}