body {
    background-image: url("../images/intersection/intersection.png");
    /* Background pattern from Subtle Patterns (https://www.toptal.com/designers/subtlepatterns/) */
}
nav, .navbar-toggler, .navbar {
    background-color:#ffffff;
}
h1 {
    font-family: "Georgia", "Times", "Times New Roman", "serif";
    font-size: 27px;
    letter-spacing: 1.5px;
    font-weight: bold;
    background-color: #4aaaa5;
    color: #ffffff;
    margin-left: 15%;
    width: 100%;
    line-height: 70px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 4px;
    padding-top: 4px;
}
h2 {
    background-color: #ffffff;
    font-family: "Georgia", "Times", "Times New Roman", "serif";
    font-size: 27px;
    letter-spacing: 1.5px;
    font-weight: bold;
    color: #4aaaa5;
}
h3 {
    background-color: #ffffff;
    font-family: "Georgia", "Times", "Times New Roman", "serif";
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1.5px;
    padding-top: 5px;
    color: #4aaaa5;
}
h4 {
    position: absolute;
    margin-top: 33%;
    left: 15px;
    right: 15px;
    color: #ffffff;
    text-align: center;
    background-color: rgba(11,173,167, 0.7);
    padding: 10px 0px;
    z-index: 1;
}
a, a:hover {
    text-decoration: none;
    color: #777777
}
.navbar {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 2px solid #cccccc;
}
.card-header {
    background-color: #ffffff;
}
.mystuff, .contactstuff, .portmystuff {
    position: relative;
    margin-top: 17%;
    margin-bottom: 65px;
}
.card {
    margin-bottom: 20px;
}
.portpic {
    height: 200px;
    width: 100%;
    margin-bottom: 10px;
}
.soicon {
    width: 44.66px;
    height: 44.66px;
    border: .5px solid rgba(255,115,0, 0.5);
    margin-top: 2px;
}
.soicon:hover {
    width: 47.67px;
    height: 47.67px;
    border: .5px solid rgba(255,115,0, 0.5);
}
.icon:hover, .icon:hover {
    width: 53px;
    height: 53px;
}
.icon {
    width: 50px;
    height: 50px;
}
.myfooter, .contactfooter, .portfooter {
    position: absolute;
    width: 100%;
    clear: both;
    height: 70px;
    color: #cccccc;
    margin-top: 1%;
    font-size: 12px;
    background-color:#666666;
    border-top: 7px solid #4aaaa5;
    text-align: center;
    line-height: 70px;
}
.choral {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    position: relative;
}
.choral:hover {
    -webkit-animation-name: choral; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: 2; /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
    animation-name: choral;
    animation-duration: 5s;
    animation-iteration-count: 2;
    animation-direction: alternate; 
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes choral {
    0%   {background-color:transparent; left:0px; top:0px;}
    25%  {background-color:pink; left:0px; top:20px;}
    50%  {background-color:rebeccapurple; left:0px; top:0px;}
    75%  {background-color:pink; left:0px; top:20px;}
    100% {background-color:rebeccapurple; left:0px; top:0px;}
}
/* Standard syntax */
@keyframes choral {
    0%   {background-color:transparent; left:0px; top:0px;}
    25%  {background-color:pink; left:0px; top:20px;}
    50%  {background-color:rebeccapurple; left:0px; top:0px;}
    75%  {background-color:pink; left:0px; top:20px;}
    100% {background-color:rebeccapurple; left:0px; top:0px;}
}